<div class="col-md-12 bg-secondary rounded text-uppercase">
    <h4 class="" >Turnos de Mascotas</h4>
        <!-- LA TABLA YA TIENE ESTILOS PRECARGADOS EN EL CSS -->
        <table class="table rounded" *ngIf="mostrarLista">
            <thead>
              <tr class="grey">
                <th>Nro Ficha</th>
                <th>Tipo</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mascota of arrayTurnos" [ngStyle]="{'background-color': (mascota.tipo == 1) ? '#78909c' : '#cfd8dc' }">

                <td>{{mascota.nro_ficha}}</td>
                <td>{{(mascota.tipo == 1) ? 'Gato' : 'Perro'}}</td>
                <td>{{mascota.fecha | date: 'dd/MM/yyyy HH:MM'}}</td>
                <td>{{mascota.autorizado}}</td>
                <td >
                    <div class="">
                        <!--button class="btn sm-secondary" id="btnModificar_+'mascota.id'" (click)="sacarTurno(mascota)" >Turno</button-->
                    </div>

                    <!--input type="button" class="btn sm-primary"id="btnModificar_+'mascota.id'" (click)="cargarObjeto(mascota)" value="Modificar"-->
                </td>
            </tr>
          </tbody>
        </table>
</div>
