<div class="row">
    <div class="col-md-12 bg-success rounded">

        <form *ngIf="turnoSolicitado"  (ngSubmit)="cargarTurno()" class="form-horizontal" #formViajes="ngForm" ngNativeValidate>
            <div class="form-group">
                <p>SACAR TURNO</p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="fechaViaje">Mascota:</label>
                <div class="col-sm-10">
                    <input id="mascota_ficha" class="form-control" [(ngModel)]="miMascota.nro_ficha" type="text" [ngModelOptions]="{standalone: true}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="fechaTurno">Fecha:</label>
                <div class="col-sm-10">
                      <input id="fechaTurno" class="form-control" [(ngModel)]="turno.fecha" type="datetime-local"min="startDate" [ngModelOptions]="{standalone: true}" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn sm-secondary" name="btnTurno" value="Solicitar">Solicitar Turno</button>
                </div>

            </div>

        </form>
    </div>
    <div class="col-md-12 bg-secondary rounded text-uppercase">
        <h4 class="text-muted" >Lista de Mascotas</h4>
            <!-- LA TABLA YA TIENE ESTILOS PRECARGADOS EN EL CSS -->
            <table class="table rounded" *ngIf="mostrarLista">
                <thead>
                  <tr class="grey">
                    <th>Ficha</th>
                    <th>Edad</th>
                    <th>Color</th>
                    <th>Raza</th>
                    <th>Tipo</th>
                    <th>Turno</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let mascota of arrayMascotas" [ngStyle]="{'background-color': (mascota.tipo == 1) ? '#78909c' : '#cfd8dc' }">

                    <td>{{mascota.nro_ficha}}</td>
                    <td>{{mascota.edad}}</td>
                    <td>{{mascota.color}}</td>
                    <td>{{mascota.raza}}</td>
                    <td>{{(mascota.tipo == 1) ? 'Gato' : 'Perro'}}</td>

                    <!-- <td>
                        <div class="">
                            <button class="btn sm-secondary" name="btnBorrar+'mascota.email'"  (click)="borrarUsuario(mascota)">Eliminar</button>
                        </div>
                   </td> -->
                    <td >
                        <div class="">
                            <button class="btn sm-secondary" id="btnModificar_+'mascota.id'" (click)="sacarTurno(mascota)" >Turno</button>
                        </div>

                        <!--input type="button" class="btn sm-primary"id="btnModificar_+'mascota.id'" (click)="cargarObjeto(mascota)" value="Modificar"-->
                    </td>
                </tr>
              </tbody>
            </table>
    </div>
</div>
