<div class="row">
    <div class="col-md-12 bg-secondary rounded">
        <form class="" >
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miUsuario.email" name="email" placeholder="E-Mail" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="miUsuario.password" name="password" placeholder="Password" />
            </div>
            <div class="form-group">
                <select class="form-control form-control-sm" [(ngModel)]="miUsuario.rol" [ngModelOptions]="{standalone: true}" required>
                    <option value="admin" >Admin</option>
                    <option value="cliente" >Cliente</option>
                </select>
            </div>
            <div class="form-group">
                <button name="enviar" class="btn bg-primary" (click)="cargarUsuario()">Enviar</button>
            </div>
        </form>
    </div>
</div>
