<div class="row">
    <div class="col-md-12 bg-secondary rounded">
        <form class="" #f="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miMascota.nro_ficha" name="nro_ficha" placeholder="Nro Ficha" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miMascota.color"  name="color" placeholder="Color" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miMascota.raza" name="raza" placeholder="Raza" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miMascota.edad" name="edad" placeholder="Edad" />
            </div>
            <div class="form-group">
                <!--select class="bootstrap-select form-group" [(ngModel)]="miMascota.rol" [ngModelOptions]="{standalone: true}" required-->
                <select name="tipo_mascota" class="form-control form-control-sm" [(ngModel)]="miMascota.tipo"  [ngModelOptions]="{standalone: true}" >
                    <option value="0">Perro</option>
                    <option value="1">Gato</option>
                </select>
            </div>
            <div class="form-group">
                <!--input type="file" name="foto" [(ngModel)]="miMascota.foto" /-->
                <button name="enviar" class="btn bg-primary" (click)="pedirMascota()">Cargar Mascota</button>
                <!--input #javascriptcb type="checkbox" (change)="esModificar( javascriptcb.checked )" /-->
            </div>
            <!--button name="modificar" (click)="modificarUsuario()">modificar</button-->
        </form>
    </div>
</div>
